body {
    font-family:Courier;
    background-color: limegreen;
.form-submit-button: lim
}

input[type=submit]{
    background-color: saddlebrown;
    color: antiquewhite;
}

input[type=text]{
    background-color: antiquewhite;
}